.container{
    min-width: fit-content;
    width: 80dvw;
    height: 80dvh;
    background-color: tomato;
    border-radius: 8px;
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: row;
    
    flex: 1;
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}